<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{this :: title}, ~{})">
    <title>Fast Foot Customers Rule!</title>
    <script class="customization" type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#alerts').dataTable();
        });
    </script>
</head>
<body>
<div th:insert="layout :: content(~{ :: #alert-list})">
    <div id="alert-list">
    <table class="table table-condensed table-hover" id="alerts">
        <thead>
        <tr>
            <th>Id</th>
            <th>Message</th>
            <th>Time</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Message</th>
            <th>Time</th>
        </tr>
        </tfoot>
        <tbody>
        <tr th:each="alert : ${alerts}">
            <td th:text="${alert.id}">Id</td>
            <td th:text="${alert.message}">Message</td>
            <td th:text="${alert.messageDate}">Date</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>
